<main class="card">
  <h1 class="card-header">USTC-GitHub Authenticator</h1>
  <div class="card-body">
    <p>About this application.</p>
  </div>
  <div class="card-footer btn-space-y">
    <a href="./" class="btn btn-secondary">Back</a>
  </div>
</main>
