<main class="card">
  <h1 class="card-header">USTC-GitHub Authenticator</h1>
  <div class="card-body">
    <p>A USTC-GitHub mutual authenticator. Runs serverlessly on <a href="https://aws.amazon.com/lambda/">AWS Lambda</a> and accelerated by <a href="https://aws.amazon.com/cloudfront/">AWS CloudFront</a> and <a href="https://www.cloudflare.com/">Cloudflare CDN</a>.</p>
    <p>Originally created by taoky (<a href="https://github.com/taoky/gh-auth">taoky/gh-auth</a>) and rewritted into serverless function by iBug (<a href="https://github.com/iBug/gh-auth">iBug/gh-auth</a>). Open-source under <a href="https://opensource.org/licenses/MIT">the MIT License</a>.</p>
  </div>
  <div class="card-footer btn-space-y">
    <a href="./" class="btn btn-secondary">Back</a>
  </div>
</main>
