<main class="card">
  <h1 class="card-header">USTC-GitHub Authenticator</h1>
  <div class="card-body">
    <p>Your USTC user: <%= user_ustc || '(not logged in)' %></p>
    <p>Your GitHub user: <%= user_github || '(not logged in)' %></p>
  </div>
</main>
