<main class="card">
  <h1 class="card-header">USTC-GitHub Authenticator</h1>
  <div class="card-body">
    <p>Your USTC user: <%= user_ustc || '(unauthenticated)' %></p>
    <p>Your GitHub user: <%= user_github || '(unauthenticated)' %></p>
    <p>If you have any question, please contact us at <img src="https://lug.ustc.edu.cn/static/email.png" alt="noreply@github.com" />.</p>
    <% unless user_ustc && user_github %>
      <hr/>
      <p>You need to authenticate with both USTC and GitHub before you can generate a token.</p>
    <% end %>
  </div>
  <div class="card-footer btn-space-y">
    <a href="auth-ustc" class="btn btn-primary">Authenticate USTC</a>
    <a href="auth-github" class="btn btn-primary">Authenticate GitHub</a>
    <a href="token" class="btn btn-success<%= ' disabled' unless user_ustc && user_github %>">Token</a>
    <a href="logout" class="btn btn-secondary">Logout</a>
  </div>
</main>
