<main class="card">
  <h1 class="card-header">USTC-GitHub Authenticator</h1>
  <div class="card-body">
    <p>Your USTC user: <%= user_ustc || '(unauthenticated)' %></p>
    <p>Your GitHub user: <%= user_github || '(unauthenticated)' %></p>
  </div>
  <div class="card-footer btn-space-y">
    <a href="auth-ustc" class="btn btn-primary">Authenticate USTC</a>
    <a href="auth-github" class="btn btn-primary">Authenticate GitHub</a>
    <a href="logout" class="btn btn-secondary">Logout</a>
  </div>
</main>
